<h1>Editing musician</h1>

<%= render 'form' %>

<% if current_user.has_role? :admin%>
	<%= link_to 'Show', @musician %>

	<%= link_to 'Back', musicians_path %>
<%else %>
	<%= link_to 'Back', content_musician_path %>
<% end %>
