
<div class="row">
	<div class="container text-center">
		
		<div class="well well-sm">
			<div class="text-muted">Created proudly in Somerset, by the madmen at <a href="http://feeldigital.co.uk"> Feel Digital</a></div>
		</div>
		
	</div>
</div>

