
<div class="row">
	<div class="container text-center">
		<hr>
		<div class="well well-sm">
			<div class="text-muted">Created proudly in Somerset, by the madmen at Feel Digital</div>
		</div>
		<hr>
	</div>
</div>

